*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#footer{
    
    width: 100%;

   padding: 2% 2%;
   display: flex;
    justify-content: space-evenly;
 background-color: #007bff;

    box-shadow: 5px 5px 5px 5px #888888;
 
}
ul
{
   width:60%;
    display: flex;
  
  
   justify-content:space-between;
    
}
.navs
{
  width: 85%;
}
h1{
    position: relative;
    left:8%;
}
