
h3{
    position: relative;
    left:3%;
}
a{
    color:white;
}
.Questions
{
    background-color: rgb(130, 199, 255);
    margin: 15px 15px;
    padding: 5px 10px;
    border-radius:1px 1px;
   
    box-shadow: 4px 3px 8px 1px #969696;
  
}
.options
{
    display:flex;
   
}
h3,button
{
    margin: 0px 15px;
}