.Questions
{
    background-color: rgb(130, 199, 255);
    margin: 15px 15px;
    padding: 5px 10px;
    border-radius:1px 1px;
   
    box-shadow: 4px 3px 8px 1px #969696;
}
.btn
{
    position: relative;
     top:10%;
     left: 10%;
    width:30%;
    height:5% ;
    border-radius:20px;
}
h3{
    position: relative;
    left:3%;
}